body { background: #f08504; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 52px; display: flex; }
.block-product-0 { color: #96b160; font-size: 15px; margin-bottom: 5px; }
.block-search-1 { color: #76088f; font-size: 21px; margin-bottom: 5px; }
.block-email-2 { color: #37c848; font-size: 12px; margin-bottom: 5px; }
.block-router-3 { color: #a63107; font-size: 13px; margin-bottom: 5px; }
.block-helper-4 { color: #712099; font-size: 16px; margin-bottom: 5px; }
.block-search-5 { color: #70b8ad; font-size: 12px; margin-bottom: 5px; }
.block-cluster-6 { color: #91dd3d; font-size: 12px; margin-bottom: 5px; }